<div class="row">{{'hello'+' catty'}}</div>
<div class="container">


    <button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>

    <img ng-src="{{event.imgUrl}}" alt="{{event.name}}" class="col-lg-1"/>

    <div class="row">
        <div class="col-lg-3">
            <h2 ng-style="myStyle" ng-bind-template="{{event.name | uppercase}} {{event.date | date:'shortDate'}}"></h2>
        </div>
        <div class="col-lg-4" ng-class="myClass">
            <div><strong>Date:</strong> {{event.date | date}}</div>
            <div><strong>Time:</strong> {{event.time}}</div>
        </div>

        <div class="col-lg-4">
            <div><strong>Address:</strong> {{event.location.address}}</div>
            <div>{{event.location.city}}, {{event.location.province}}</div>
        </div>
    </div>
    <hr/>

    <div class="row">{{ {a:3,b:'hi',c:{aa:35} } | json }}</div>
    <div class="row">{{3.14145926535 | number:2}}</div>
    <div class="row">{{34 | currency}}</div>

    <div class="row">
        <button class="btn btn-info" ng-disabled="buttonDisabled">{{buttonDisabled}}</button>
    </div>

    <div ng-non-bindable>{{1+34}}</div>

    <div class="row" ng-bind-html-unsafe="snippet">oooooomp</div>
    <h2 ng-show="boolValue">Show This</h2>

    <h2 ng-hide="boolValue">Hide This</h2>

    <div class="row">
        <h3>Sessions</h3>

        <div class="row">
            <select class="input-sm" ng-model="sortorder">
                <option selected value="name">name</option>
                <option value="-upVoteCount">vote</option>
            </select>

            <select class="input-sm" ng-model="query.level">
                <option selected value="">All</option>
                <option value="Advanced">Advanced</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
            </select>
        </div>
        <ul class="list-unstyled">
            <li ng-repeat="session in event.sessions | orderBy:sortorder | limitTo:4 | filter:query" id="session{{session.duration}}">
                <div class="col-lg-2 votingWidget">
                    <vote upvote-method="voteUpSession(session)" downvote-method="voteDownSession(session)" count-var="{{session.upVoteCount}}"></vote>
                </div>

                <session-thumbnail data="session"></session-thumbnail>
            </li>

        </ul>
    </div>
</div>

